{% extends 'layout.html' %}
{% block title %}New Paste{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block wrapper %}
	<form id='pasteform' method='post' enctype='multipart/form-data' action='/'>
		<div id='content'>
			<textarea id='pastebox' name='paste' form='pasteform' dirname='pastebox.dir' cols='30' rows='30' required></textarea>
		</div>

		<div id='controls'>
			
			<select name='lexer'>
				<option value='txt' selected>Text Only</option>
				<option value='py'>Python</option>
				<option value='html'>HTML</option>
			</select>
			<select name='ttl'>
				<option value='60'>1 min</option>
				<option value='600'>10 min</option>
			</select>

			<input type='submit' value='Paste'>
			
		</div>
	</form>
{% endblock %}
