{% extends 'layout.html' %}
{% block title %}New Paste{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
	<form id='pasteform' method='post' enctype='multipart/form-data' action='/newpaste'>
		<div id='content'>
			<textarea id='pastebox' name='paste' form='pasteform' dirname='pastebox.dir' autocomplete='off' spellcheck='false' autofocus required></textarea>
		</div>

		<div id='controls'>
			
			<select id='lexerselect' name='lexer' class='dropdown'>
				<option value='auto' selected>Autodetect</option>
				<option class='marker' disabled>Common Lexers</option>
				{% for lexer in lexers_common %}
					<option class='lexer-entry' value='{{ lexer[1] }}'>{{ lexer[0] }}</option>
				{% endfor %}
				<option class='marker' disabled>All Lexers</option>
				{% for lexer in lexers_all %}
					<option class='lexer-entry' value='{{ lexer[1][0] }}'>{{ lexer[0] }}</option>
				{% endfor %}
			</select>
			<select id='ttlselect' name='ttl' class='dropdown'>
				<option value='1' selected>1 hour</option>
				{% for entry in ttl%}
					<option value='{{ entry[1] }}'>{{ entry[0] }}</option>
				{% endfor %}
			</select>
			<input id='burninput' type='number' name='burn' min='0' max='{{ paste_limits['burn_max'] }}' placeholder='Burn' >
			<input id='pastebutton' type='submit' value='Paste'>
			
		</div>
	</form>
{% endblock %}
