{% extends 'layout.html' %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}Paste{% endblock %}
{% block wrapper %}
<div id='info'>
{% with messages = get_flashed_messages() %}
 	{% if messages %}
 		{{ messages[0] }}
 	{% endif %}
 	<div id='lines'> {{ stats['lines'] }} lines</div>
 	<div class='pipediv'>|</div>
 	<div id='sloc'> ({{ stats['sloc'] }} sloc) </div>
 	<div class='pipediv'>|</div>
 	<div id='sloc'> {{ stats['size']/1000 }} kB</div>
{% endwith %}
</div>
<div id='content'>
{{ paste|safe }}
</div>

{% endblock %}
