{% extends 'layout.html' %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/util.js') }}"></script>
{% endblock %}
{% block title %}Paste{% endblock %}
{% block content %}
<div id='info'>
	<div id='raw'><a href="?r">raw</a></div>
	<div class='pipediv'>|</div>
	<div id='wrap'><a href="">wrap</a></div>
	<div class='pipediv'>|</div>
	<div id='dir'><a href="?d">dir</a></div>
	<div class='pipediv'>|</div>
	<div id='indent'><a href="">indent</a></div>
	<div class='pipediv'>|</div>
	<div id='lexer'> {{ stats['lexer'] }} </div>
	<div class='pipediv'>|</div>
	<div id='lines'> {{ stats['lines'] }} lines</div>
	<div class='pipediv'>|</div>
	<div id='sloc'> {{ stats['sloc'] }} sloc </div>
	<div class='pipediv'>|</div>
	<div id='size'> {{ stats['size']/1000 }} kB</div>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class='pipediv'>|</div>
	<div><a id="rm" href="">delete </a> token: <span id='token'>{{ messages[0] }}</span></div>
	{% endif %}
	{% endwith %}
</div>
<div id='content'>
	<ol>
		{% for i in range(stats['lines']) %}
		<li class='linenos'><pre class='pastelines'>{{paste[i]|safe}}</pre></li>
		{% endfor %}
	</ol>
</div>
{% endblock %}
